---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Centro de Resolución UMA - Nivel 0" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/portal-soporte-uma/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Soporte UMA</title>
		
		<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body class="bg-[#f8fafc] min-h-screen">
		<nav class="bg-white border-b border-[#e2e8f0] p-4 mb-8 shadow-sm">
			<div class="max-w-[1000px] mx-auto flex justify-between items-center">
				<a href="/portal-soporte-uma/" class="font-black text-[#d32f2f] text-xl tracking-tighter">UMA <span class="text-slate-400 font-light">| SOPORTE</span></a>
				<div class="flex gap-6 text-sm font-bold text-slate-600">
					<a href="/portal-soporte-uma/" class="hover:text-[#d32f2f] transition-colors">Inicio</a>
					<a href="/portal-soporte-uma/dashboard" class="hover:text-[#d32f2f] transition-colors">Panel Técnico</a>
				</div>
			</div>
		</nav>

		<main class="max-w-[1000px] mx-auto px-4 pb-20">
			<slot />
		</main>

		<footer class="text-center py-10 text-slate-400 text-xs border-t border-[#e2e8f0] bg-white mt-20">
			&copy; 2026 Laboratorio 2 - William Majico & Cindy Bernardino. Gestión de Servicios TI (ITIL).
		</footer>
	</body>
</html>